flask==3.0.0
celery==5.3.4

# Flask extensions
flask-sqlalchemy==3.1.1
flask-marshmallow==0.15.0
flask-jwt-extended==4.5.3
flask-migrate==4.0.5
flask-cors==4.0.0
flask-caching==2.1.0
flask-babel==4.0.0
flask-wtf==1.2.1
marshmallow-sqlalchemy==0.29

# Third-party libs
SQLAlchemy==2.0.22
psycopg2-binary==2.9.9
gunicorn==21.2.0
pytz==2023.3.post1
boto3==1.28.64
requests==2.31.0
redis==5.0.1
pylibmc==1.6.3
flower==2.0.1
googlemaps==4.10.0
marshmallow==3.20.1

setuptools==68.2.2
